body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #076668;
  color: white;
  padding: 20px 0;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin-right: 5%;
  margin-left: -10%;
  text-decoration: none;
}

#lg{
  margin-left: 7%;
  margin-right: -10%;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

#search {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 3%;
  margin-right: -5%;
}

#search input {
  width: 500px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 1%;
}

#search button {
  width: auto;
  padding: 5px;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

#search button:hover {
  background-color: #0056b3;
}



main {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* This creates a 3-column grid */
  grid-template-rows: repeat(5, auto);  /* This creates 5 rows */
  gap: 20px;  /* This sets the gap between the grid items */
}

.grid-item {
  width: 80%;
}

.cover-wp img {
  width: 80%;
  height: auto;
}

p {
  font-family: Arial, sans-serif;
  color: #666;
  font-size: 14px;
}

/* Highlight movie titles */
strong {
  display: block;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Color movie times and rating */
#time1, #time2, #time3, #time4, #time5, #time6, #time7, #time8, #time9, #time10, #time11, #time12 {
  color: #ff7f50; /*coral color*/
}

#rating1, #rating2, #rating3, #rating4, #rating5, #rating6, #rating7, #rating8, #rating9, #rating10, #rating11, #rating12 {
  color: #008000; /*green color*/
}

a {
  text-decoration: none;
}

a.item {
  text-decoration: none;
}
